{{ define "main" }}
<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
  </header>

  <div class="post-content">
    {{ .Content }}
  </div>

  <div class="ig-grid">
  {{ range $i, $post := .Site.Data.instagram.posts }}
    <div class="ig-item">
      <a class="ig-thumb" href="{{ $post.image }}" target="_blank" rel="noopener" aria-label="Open enlarged image in new page">
        <img src="{{ $post.image }}" alt="{{ with $post.caption }}{{ . }}{{ else }}Photo {{ add $i 1 }}{{ end }}" />
      </a>

      {{ with $post.caption }}
      <div class="caption">{{ . }}</div>
      {{ end }}
    </div>
  {{ end }}
  </div>
  
</article>
{{ end }}
